* {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    margin: 10px;
}
div.hidden {
    overflow: hidden;
}

body {
    background: lightblue;
}

div.wrapper {
    width: 50%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#polynimial, #formula {
    width: 90%;
}

table.elements {
    border-collapse: collapse;
    text-align: center;
}

table.elements td, table.elements th {
    border: 1px solid gray;
    padding: 5px;
}